* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

/* Style the body */
body {
  font-family: Calibri, Daytona, sans-serif;
  margin: 0;
  color: white;
  text-align: justify;
}

a {
  color: rgb(0, 183, 255);
  text-decoration: none;
}

/* Header/logo Title */
.header {
  padding: 80px 20px; /* Adjusted padding for responsiveness */
  text-align: center;
  background: url(game\ selections-1.png) 0px 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  color: white;
}

.sub-header {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 
  0 0 20px rgba(255, 255, 255, 0.5), 
  0 0 30px rgba(255, 255, 255, 0.3);
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 
  0 0 20px rgba(255, 255, 255, 0.5), 
  0 0 30px rgba(255, 255, 255, 0.3);
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .header {
    padding: 60px 20px; /* Adjust padding for medium screens */
  }

  .header h1 {
    font-size: 36px; /* Adjust font size for medium screens */
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 40px 20px; /* Adjust padding for smaller screens */
  }

  .header h1 {
    font-size: 32px; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 30px 10px; /* Adjust padding for very small screens */
  }

  .header h1 {
    font-size: 28px; /* Adjust font size for very small screens */
  }
}

/* Style the navigation bar */
.navbar {
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick it to the top of the viewport */
  z-index: 1000; /* Ensure it appears above other content */
  overflow: hidden;
  background-color: #00a8b1;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0; /* Remove padding to prevent extra space */
  max-width: 100%; /* Ensure it takes full width of the container */
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: font-size 0.3s; /* Smooth transition for font size */
  display: inline-block; /* Ensure links are displayed in a row */
  box-sizing: border-box; /* Include padding and border in the total width */
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #065458;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0 10px; /* Adjust padding for medium screens */
  }

  .navbar a {
    font-size: 14px; /* Decrease font size for medium screens */
    padding: 12px 16px; /* Adjust padding for medium screens */
  }
}

@media screen and (max-width: 768px) {
  .navbar a {
    font-size: 12px; /* Decrease font size for smaller screens */
    padding: 10px 14px; /* Adjust padding for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .navbar a {
    font-size: 10px; /* Further decrease font size for very small screens */
    padding: 8px 12px; /* Further adjust padding for very small screens */
  }
}

@media screen and (max-width: 320px) {
  .navbar a {
    font-size: 8px; /* Further decrease font size for extremely small screens */
    padding: 6px 10px; /* Further adjust padding for extremely small screens */
  }
}

/* Responsive text container */
.text-container {
  max-width: 800px; /* Limit the maximum width */
  margin: 20px auto; /* Center the container */
  padding: 20px;
  background-color: #2a2e35; /* Light background color */
  color: #ffffff; /* Text color */
  border: 1px solid #15181d; /* Visible thin border */
  border-radius: 10px;
  box-sizing: border-box; /* Ensure padding and border are included in the total width and height */
  text-align: justify; /* Justify the text */
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .text-container {
    padding: 15px; /* Adjust padding for medium screens */
  }
}

@media screen and (max-width: 768px) {
  .text-container {
    padding: 10px; /* Adjust padding for smaller screens */
    margin: 15px auto; /* Adjust margin for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .text-container {
    padding: 8px; /* Adjust padding for very small screens */
    margin: 10px auto; /* Adjust margin for very small screens */
  }
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #222833;
  padding: 30px;
}

/* Account Info */
.account-image-container {
  position: relative;
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.profile-image {
  width: 190px; /* Set appropriate width for profile picture */
  height: 190px; /* Set appropriate height for profile picture */
  border-radius: 50%;
  border: 3px solid #087275; /* Add border with color */
  transition: filter 0.3s ease;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.account-image-container:hover .profile-image {
  filter: blur(5px);
}

.account-image-container:hover .text-overlay {
  opacity: 1;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: #12171f;
  padding: 15px;
}

/* Game container */
.game {
  position: relative;
  width: 100%; /* Default width for larger screens */
  max-width: 800px; /* Limit the maximum width */
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box; /* Include padding and border in total width */
}

/* Banner container */
.game-banner-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

/* Banner image */
.game-banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

/* Game info container */
.game-info {
  position: absolute;
  bottom: -100%; /* Initially hidden below the container */
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  transition: bottom 0.3s ease;
  padding: 20px;
  overflow-y: auto;
  text-align: justify;
}

/* Show game info on hover */
.game:hover .game-banner-image {
  opacity: 0.3;
}

.game:hover .game-info {
  bottom: 0; /* Slide up to reveal */
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .game {
    max-width: 700px; /* Adjust max width for medium screens */
  }
}

@media screen and (max-width: 768px) {
  .game {
    max-width: 600px; /* Adjust max width for smaller screens */
  }

  .game-info {
    padding: 15px; /* Adjust padding for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .game {
    max-width: calc(100% - 20px); /* Adjust width for very small screens */
    margin: 10px; /* Reduce margin for very small screens */
  }

  .game-info {
    padding: 10px; /* Adjust padding for very small screens */
  }
}

/* Footer */
.footer {
  padding: 3px;
  text-align: center;
  background-color: #0e121a; /* Very dark grey background */
  color: #4e4e4e; /* Light grey text for better readability */
}

.footer-divider {
  border: none;
  height: 1px;
  background: #222833; /* Medium grey for divider */
  margin: 10px 560px;
}

.footer a {
  color: rgb(255, 238, 0); /* Bright color for links to stand out */
  text-decoration: none;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}